body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
    width: 100%
}

.logo {
    height: 3em;
    margin-left: -5em;
    margin-top: -1em;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: #00A090;
    border-color: #00A090;
}
